$main_dark = #000
$main_lite = #fff
$main_highlite = #FBD784
$main_buttons = #FFA343
$main_shift = 4.7rem;

html,
body {
    font: 18px/1.7 'Open Sans', sans-serif;
}

body {
    background: $main_dark url('/images/cover.jpg') no-repeat center top;
    background-size: 100% auto;
    color: $main_lite;
}

a {
    color: $main_highlite;
    transition: opacity 0.3s;
    opacity: 1;

    &:visited{
        color: darken($main_highlite,30);
    }

    &:hover,
    &:active {
        opacity: 0.7;
    }
}

/* Main styles */

.cover-space{
    padding-bottom: 82%;
}

.header{
    position: absolute;
    top: 2rem;
    width: 100%;
    
    &__content{
        display: grid;
        grid-template-columns: auto 1fr auto;
        padding: 0 $main_shift;
    }

    &__center{
        display: flex;
        justify-content: center;
    }
}

.logo{
    color: $main_lite;
    text-decoration: none;
    letter-spacing: 1%;

    &:visited{
        color: $main_lite;
    }

    &__title{
        font-size 1.3rem;
        font-weight 700;
    }
}

